*{
    box-sizing: border-box;
}

h1{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
    border-radius:50px ;
    display: flex;
    justify-content: center;
    align-items: center;
}